/* styles/photoDetail.module.css */

.container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 896px;
  padding: 24px;
  margin: 0 auto;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.article {
  padding: 20px;
  border-radius: 16px;
  background-color: hsl(var(--card));
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.headerLeft {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
}

.headerLeft .title {
  font-weight: 500;
  text-decoration: underline;
  word-break: break-all;
  display: block;
  max-width: 400px;
  word-wrap: break-word;
}

.headerLeft .subtitle {
  font-size: 14px;
  color: #888; /* Muted color */
}

.headerRight {
  font-weight: 400;
  text-overflow: ellipsis;
  max-width: 200px;
  word-break: break-all;
}

.imageContainer {
  margin-top: 16px;
}

.image {
  border-radius: 8px;
  width: 100%;
}

.commentsContainer {
  white-space: pre-line;
  word-break: break-word;
  margin-top: 24px;
}

.commentsList {
  margin-top: 16px;
  list-style: none;
  padding-left: 0;
}
.commentDate {
  color: #888;
  font-size: small;
}

.commentItem {
  margin-bottom: 12px;
}

.commentUser {
  font-weight: 500;
}

.commentDate {
  font-size: 12px;
  color: #888; /* Muted color */
}

.noComments {
  margin-top: 12px;
}
